@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';
//@import '../node_modules/leaflet-sidebar/src/L.Control.Sidebar.css';
@import '../node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
//@import '../node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.css';
@import 'nerdfonts/css/bootstrap-grid.min.css';
@import '../node_modules/reset-css/sass/reset';
@import '../node_modules/choices.js/public/assets/styles/base.min.css';
@import '../node_modules/choices.js/public/assets/styles/choices.min.css';
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import '../node_modules/leaflet-easybutton/src/easy-button.css';
@import '../node_modules/leaflet-control-window/src/L.Control.Window.css';
@import '../node_modules/leaflet.control.layers.tree/L.Control.Layers.Tree.css';
@import '../node_modules/leaflet-minimap/dist/Control.MiniMap.min.css';
@import '../node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css';
@import '../node_modules/zoom-vanilla.js/css/zoom.css';

html {
    height: 100%;
    min-height: 100vh;
    //overflow-y: auto;
  }


body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica", "Arial";
    overflow-y: auto;
    min-height: 100%;
    height: 100%;
    background-color: #fff;
}

// html {
//     font-family: Verdana, Arial;
// }

// body {
//     padding: 0;
//     margin: 0;
// }

// html, body {
//     width: 100vw;
//     height: 100vh;
//     margin: 0;
//     overflow: hidden;
// }

img {
    max-width: inherit;
    width: inherit;
    object-fit: cover;
  }

#map {
    height: calc(50vh - env(safe-area-inset-top, 0));
    top: env(safe-area-inset-top, 0); /* Adjusts for mobile status bar */
    width: 100dvw;
    position: fixed;
    z-index: 83;
    background-color: #fff;
    color: #000;
    //border-right: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    /* Align the left side of the map with the left side of the viewport */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.85);
    transition: height 0.3s ease, width 0.3s ease;

}

#map.expanded {
    //height: 100dvh; /* Fullscreen map */
    min-height:100vh;
    min-height:100dvh;
}

#sidebar {
    top: calc(50vh);
    width: 100vw;
    //bottom: env(safe-area-inset-bottom, 0);
    height: calc(100vh - 50vh);
    //min-height: calc(100vh - 50vh);
    //-webkit-overflow-scrolling: touch;
    z-index: 80;
    background-color: #fff;
    color: #000;
    border-left: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    //overflow-y: auto;
    //overflow-x: hidden;
    position: relative;
    //position: absolute;
    /* Align the top of the sidebar with the top of the viewport */
    right: 0;
    /* Adjust the left position of the sidebar */
    transition: height 0.3s ease, width 0.3s ease;
}

/* Minimized sidebar */
#sidebar.minimized {
    height: 0px; /* Or any height for the minimized state */
    overflow: hidden; /* Hide the overflowed content */
    //top: calc(100vh - 40px);
    //right: 0;
    //top: 100vh
}

#toggleSidebarDiv {
    height: 0;
    right: 0;
    width: 100%;
}

#toggleSidebar {
    position: fixed;
    top: calc(50vh + 10px); /* Vertically center the button between map and sidebar */
    right: 0;
    transform: translateX(-20%);
    z-index: 100;

    padding: 0; /* Remove padding to avoid affecting the size */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    
    width: 40px;  /* Increase width for a larger interaction field */
    height: 40px; /* Increase height for a larger interaction field */
    font-size: 18px;
    //font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: content-box; /* Ensure the width/height includes only content, not padding */
    
    transition: top 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Animate top position smoothly */
}

// #toggleSidebar:hover {
//     background-color: #0056b3;
//     transform: translateX(-50%) scale(1.05);
// }

// #toggleSidebar:focus {
//     outline: none;
//     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
// }

#toggleSidebar.minimized {
    top: calc(100dvh - 55px); /* Slide the button near the bottom of the screen */
    left: 50%; /* Center horizontally based on the viewport */
    transform: translateX(-50%); /* Move left by 50% of its width to fully center */
    width: 200px;
    height: 30px;
}

.loading-message {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    background-color: white;
    left: 0;
    position: absolute;   /* Fixed/sticky position */
    width: 100%;
    height: 100%;
    z-index: 5000;    /* Sit on top */
    overflow: auto;   /* Enable scroll if needed */
    transition: 0.1s; /* Half a second transition effect */
    flex-direction: column;

}



@media screen and (min-width: 768px) {

    #map {
        width: calc(100vw - 350px);
        /* Adjust the width of the map */
        //min-width: calc(100vw - 40vw);
        // height: 100vh !important;
        height: 100vh;// calc(100vh - env(safe-area-inset-top, 0));
        top: env(safe-area-inset-top, 0); /* Adjusts for mobile status bar */
        //top: 0;
        background-color: #fff;
        /* Set the background color */
        color: #000;
        border-right: 1px solid #ccc;
        /* Optional: Add a border on the right side */
        padding: 0px;
        /* Optional: Add padding inside the map */
        box-sizing: border-box;
        /* Include padding and border in the element's total width and height */
        overflow: hidden;
        /* Hide overflow content */

        /* Align the top of the map with the top of the viewport */
        left: 0;
        /* Align the left side of the map with the left side of the viewport */
    }

    #sidebar {
        margin-top: 0;
        width: calc(100vw - 60vw);
        /* Adjust the width of the sidebar */
        max-width: 350px;
        height: 100vh;
        position: absolute;
        background-color: #fff;
        /* Set the background color */
        color: #000;
        border-left: 1px solid #ccc;
        /* Optional: Add a border on the left side */
        padding: 0px;
        /* Optional: Add padding inside the sidebar */
        box-sizing: border-box;
        /* Include padding and border in the element's total width and height */
        //overflow-y: auto;
        /* Add a vertical scrollbar if the content overflows */
        top: 0;
        z-index: 80;
        /* Align the top of the sidebar with the top of the viewport */
        right: 0;
        /* Adjust the left position of the sidebar */
    }

    #toggleSidebar {
        display: none;
    }

}

.container {
    position: relative;
    margin: 8px auto;
    max-width: 100vw; /* 80% of the viewport's width */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.search-container {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


#term-search {
    padding: 8px;
    width: calc(100% - 32px);
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #ffffff;
    color: #646464;
}

#search-term-containner {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.searched-term-box {
    padding: 4px;
    border: 1px solid #555;
    border-radius: 4px;
    //background-color: #e43f3f;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px; /* Optional: Add some space between the boxes */
}

.search-tag {
    display: inline-block;
    margin-right: 5px;
    background-color: #e0e0e0;
    padding: 3px 8px;
    border-radius: 5px;
}

.remove-term-btn {
    cursor: pointer;
    margin-left: 2px;
}

.tweet-icon {
    font-size: 24px;
    color: #1da1f2;
    margin-right: 10px;
    margin-top: 3px;
}
@keyframes flash {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

.tweet-container {
    font-size: 16px;
    margin-top: 10px;
    position: relative; /* Needed for the pseudo-element */
    animation: fadeIn 1s;

  
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.tweet-container .story-head {
    border-top: 1px solid rgb(226, 229, 230) !important;
    margin-top: 10px;
    margin-right: 10px;
    position: relative; /* Needed for the pseudo-element */
    transition: background-color 0.3s;
    border-bottom-left-radius: 140px;
}

.tweet-container .story-indent {
    border-top: none !important;
    font-size: 15px;
    display: flex;
    margin-top: 0 !important;
    align-items: start;
    //border-left: 2px solid #a8a8a8;
    border-left: 2px solid rgb(226, 229, 230);
    padding-top: 0px;
    position: relative;   
    margin-left: 30px;
}

#sidebar a {
    color: blue;
}

.tweet-link {
    /* Add styles for the tweet link */
    display: block;
    margin-top: 8px;
}

.clear-btn {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-52%);
    background: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #afafaf;
    z-index: 1;
    cursor: pointer;
}

.message-content {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 15px;
    padding: 0px; /* Optional: Add padding for better visual appearance */
}

.message-footnote {
    font-weight: normal;
    line-height: 1.5em;
    font-size: 12px;
    padding: 2px; /* Optional: Add padding for better visual appearance */
}

.message {
    border-right: 2px solid transparent; /* Add a black border around the content */
    padding: 14px; /* Optional: Add padding for better visual appearance */
    //padding-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    //border-radius: 4px;
    //background-color: #fff;
    pointer-events:none;
}

.flash {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: rgb(226, 229, 230);
        border-right: 2px solid rgb(92, 92, 92); /* Add a black border around the content */
        //border-radius: 4px;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-color: #0060df;
    }
}

.message.active {
    //background-color: #f5f5f5;
    background-color: rgb(226, 229, 230);
    border-right: 2px solid rgb(92, 92, 92); /* Add a black border around the content */
    //border-radius: 4px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-color: #0060df;
    cursor: default !important;
    pointer-events: all;
}

.message-container {
    //margin-top: 10px;
    background-color: #fff;
    cursor: pointer !important;
}

.hashtag{
    color: red !important;
}

.account{
    color: #555 !important;
}

.top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.top-btn:hover {
    background-color: #45a049;
}

#back-button {
    cursor: pointer;
    display: none;
    background-color: #4CAF50;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: #45a049;
}

#prev-button {
    width: 100px;
    display: none;
    transition: background-color 0.3s;
}

#next-button {
    width: 100px;
    display: none;
    transition: background-color 0.3s;
}

#prev-button:hover {
    background-color: #45a049;
}
#next-button:hover {
    background-color: #45a049;
}

.activate-button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.activate-button:hover {
    background-color: #45a049;
}

.navigation-button {
    cursor: pointer;
    //visibility: hidden;
    background-color: #4CAF50;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}



#tweets-navigation{
    padding: 14px;
    padding-bottom: 30px;
}

.tweet-header {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    //padding-top: 5px;
}

.tweet-media{
    padding: 5px;
}

.invisible {
    display: none;
}

.tweet-header {
    display: flex;
    align-items: center;
}

.tweet-avatar img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* To create a circular avatar */
}

.tweet-avatar.story img {
    position: absolute;
    left: -19px;
    top: 12px;
    width: 36px; /* Adjust the size as needed */
    height: 36px; /* Adjust the size as needed */
    border-radius: 50%; /* To create a circular avatar */
}

.tweet-username {
    margin-left: 10px; /* Adjust the spacing between the avatar and the username */
}

.display-name {
    font-weight: bold; /* Optional: Make the display name bold */
}

.account-name {
    color: #555; /* Optional: Change the color of the account name */
}

@import 'map/controlwindow.scss';
@import 'map/icons.scss';
@import 'map/popup.scss';
@import 'map/controls.scss';

@import 'map/scripts/Control.MagnifyingGlass.scss';
